<!-- Main Content -->
<section class="hero bg-dark text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <h1 class="display-4">Bienvenido a Arrienda Tu Finca</h1>
        <p class="lead">Explora y gestiona arrendamientos de fincas con facilidad y eficiencia. Ya sea que desees alquilar un espacio o encontrar el lugar perfecto, estamos aquí para ayudarte.</p>
        <a href="pruebaGet" class="btn btn-primary btn-lg">Explorar propiedades</a>
        <a href="Arrendatarios/nuevo" class="btn btn-outline-light btn-lg">Arrienda ya</a>
      </div>
      <div class="col-lg-5">
        <img src="assets/images/campo.png" alt="Sofa" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- Gallery Section -->
<section class="py-5">
  <div class="container">
    <h1 class="display-4">Mejores propiedades</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/images/casa1.jpg" class="bd-placeholder-img card-img-top" alt="Propiedad 1">
          <div class="card-body">
            <h5 class="gallery-title">Finca La Esmeralda</h5>
            <p class="card-text">Elegante refugio con piscina panorámica y lujosas amenidades en un entorno tropical.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Contactar</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/images/casa2.jpg" class="bd-placeholder-img card-img-top" alt="Propiedad 2">
          <div class="card-body">
            <h5 class="gallery-title">Finca Moderna Vista</h5>
            <p class="card-text">Arquitectura de vanguardia con vistas espectaculares, perfecta para una escapada de lujo.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Contactar</button>
              </div>
              <small class="text-body-secondary">60 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/images/casa3.jpg" class="bd-placeholder-img card-img-top" alt="Propiedad 3">
          <div class="card-body">
            <h5 class="gallery-title">Finca Mirador del Valle</h5>
            <p class="card-text">Encanto moderno con terraza y jacuzzi, ideal para disfrutar la serenidad de Tabio, Colombia..</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Contactar</button>
              </div>
              <small class="text-body-secondary">90 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

