<p>propiedad works!</p>
<form (ngSubmit)='onSubmit()'>
  <label for='titulo'>Titulo:</label><br/>
  <input type='text' id='titulo' name='titulo' [(ngModel)]='model.titulo' required><br/><br/>
  <label for='direccion'>Direccion:</label><br/>
  <input type='text' id='direccion' name='direccion' [(ngModel)]='model.direccion' required><br/><br/>
  <label for='precio'>Precio:</label><br/>
  <input type='number' id='precio' name='precio' [(ngModel)]='model.precio' required><br/><br/>
  <label for='descripcion'>Descripcion:</label><br/>
  <input type='text' id='descripcion' name='descripcion' [(ngModel)]='model.descripcion' required><br/><br/>
  <label for='caracteristicas'>Caracteristicas:</label><br/>
  <input type='text' id='caracteristicas' name='caracteristicas' [(ngModel)]='model.caracteristicas' required><br/><br/>
  <label for='metrosCuadrados'>Metroscuadrados:</label><br/>
  <input type='number' id='metrosCuadrados' name='metrosCuadrados' [(ngModel)]='model.metrosCuadrados' required><br/><br/>
  <label for='tipoPropiedad'>Tipopropiedad:</label><br/>
  <input type='text' id='tipoPropiedad' name='tipoPropiedad' [(ngModel)]='model.tipoPropiedad' required><br/><br/>
  <label for='enVenta'>Enventa:</label><br/>
  <input type='checkbox' id='enVenta' name='enVenta' [(ngModel)]='model.enVenta'><br/><br/>
  <input type='submit' value='Submit'>
</form>