<p>inicio-de-sesion works!</p>
<div class="publicar-propiedad-bg">
    <div class="form-container">
      <h1 class="display-4">Ingresar Usuario</h1>
      <form (ngSubmit)="crearPropiedad()">
        <div class="form-group">
          <label for="calificacion">Correo</label>
          <input type="number" id="calificacion" name="Calificacion" [(ngModel)]="" class="form-control">
        </div>
        <div class="form-group">
          <label for="precio">Username</label>
          <input type="number" id="precio" name="Precio" [(ngModel)]="" class="form-control">
        </div>
        <div class="form-group">
          <label for="ubicacion">Contraseña</label>
          <input type="text" id="ubicacion" name="Ubicacion" [(ngModel)]="" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Publicar</button>
      </form>
    </div>
    </div>
    
    