<p>arrendador works!</p>
<form (ngSubmit)='onSubmit()'>
  <label for='nombre'>Nombre:</label><br/>
  <input type='text' id='nombre' name='nombre' [(ngModel)]='model.nombre' required><br/><br/>
  <label for='direccion'>Direccion:</label><br/>
  <input type='text' id='direccion' name='direccion' [(ngModel)]='model.direccion' required><br/><br/>
  <label for='telefono'>Telefono:</label><br/>
  <input type='text' id='telefono' name='telefono' [(ngModel)]='model.telefono' required><br/><br/>
  <label for='email'>Email:</label><br/>
  <input type='email' id='email' name='email' [(ngModel)]='model.email' required><br/><br/>
  <input type='submit' value='Submit'>
</form>