<nav class="custom-navbar navbar navbar-expand-lg navbar-dark" aria-label="Furni navigation bar">
	<div class="container">
	  <a class="navbar-brand" href="#">Arrienda tu Finca<span>.</span></a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="custom-navbar-nav navbar-nav ms-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="#">Inicio</a>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkPropiedades" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Propiedades
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkPropiedades">
			  <li><a class="dropdown-item" href="pruebaPost">Publicar Propiedad</a></li>
			  <li><a class="dropdown-item" href="pruebaGet">Listar Propiedades</a></li>
			</ul>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkArrendadores" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Arrendadores
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkArrendadores">
			  <li><a class="dropdown-item" href="Arrendadores/nuevo">Agregar Arrendador</a></li>
			  <li><a class="dropdown-item" href="Arrendadores">Ver Arrendadores</a></li>
			</ul>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkArrendatarios" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Arrendatarios
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkArrendatarios">
			  <li><a class="dropdown-item" href="Arrendatarios/nuevo">Agregar Arrendatario</a></li>
			  <li><a class="dropdown-item" href="Arrendatarios">Ver Arrendatarios</a></li>
			</ul>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Inicio de sesión</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
