<html>
	<head>
		<title>Menu </title>
		<style type="text/css"></style>
	</head>
	<body>
		<div id="header">
			<ul class="nav">
				<li><a href="">Inicio</a></li>
				<li><a href="">Propiedades</a>
					<ul>
						<li><a href="pruebaPost">Publicar Propiedad</a></li>
						<li><a href="pruebaGet">Listar Propiedades</a></li>
					</ul>
				</li>
				<li><a href="">Arrendadores</a>
					<ul>
						<li><a href="">Agregar Arrendador</a></li>
						<li><a href="">Ver Arendadores</a></li>
					</ul>
				</li>
				<li><a href="">Contacto</a></li>
			</ul>
		</div>
	</body>
</html>