
<p>Calificación de Arrendatario</p>
<form (ngSubmit)='onSubmit()' style='border: 1px solid #ccc; padding: 20px; width: 300px; margin: auto;'>
  <div style='margin-bottom: 10px;'>
    <label for='propiedadId'>Propiedad ID:</label><br/>
    <input type='number' id='propiedadId' name='propiedadId' [(ngModel)]='model.propiedadId' required>
  </div>
  <div style='margin-bottom: 10px;'>
    <label for='arrendatarioId'>Arrendatario ID:</label><br/>
    <input type='number' id='arrendatarioId' name='arrendatarioId' [(ngModel)]='model.arrendatarioId' required>
  </div>
  <div style='margin-bottom: 10px;'>
    <label for='puntuacion'>Puntuación (1-5):</label><br/>
    <input type='number' id='puntuacion' name='puntuacion' [(ngModel)]='model.puntuacion' required min='1' max='5'>
  </div>
  <div style='margin-bottom: 10px;'>
    <label for='comentario'>Comentario:</label><br/>
    <input type='text' id='comentario' name='comentario' [(ngModel)]='model.comentario' required>
  </div>
  <div style='text-align: center;'>
    <input type='submit' value='Enviar Calificación' style='padding: 5px 10px;'>
  </div>
</form>
